{{ define "index" }}
{{ template "header" }}


<div class="row" style="padding: 20px;">
	<div class="col-md-4">
	</div>

	<div class="col-md-1" >
		<h4><a href="/">All</a></h4>
	</div>

	<div class="col-md-1" >
		<h4><a href="/view?theme=golang">Golang</a></h4>
	</div>

	<div class="col-md-1" >
		<h4><a href="/view?theme=js">JavaScript</a></h4>
	</div>

	<div class="col-md-1" >
		<h4><a href="/view?theme=rust">Rust</a></h4>
	</div>

	<div class="col-md-4" >
		<!-- <div class="container_footer" >

            <form action="/ascii-art" method="POST" >
            
                <select name="font" class="btn btn-info" >
					<option class="optionfiltr" value="Created" style="font-size: 100%;" >All posts</option>
                    <option class="optionfiltr" value="Created" style="font-size: 100%;" >Created posts</option>
                    <option class="optionfiltr" value="Liked" style="font-size: 100%;" >Liked posts</option>                 
                </select>
                <button id="btn-signup" value="go" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Go</button>
            </form> -->
            
            
        </div>
	</div>
</div>


{{ range $keys, $values := . }}




<div class="row">
	<div class="col-xs-2">
		
	</div>
	<div class="col-xs-8">
		<h1><a href="/edit?id={{$keys}}"> {{$values.Title }}-|{{$values.Theme}}|</a></h1>
		
		
	</div>
	<div class="col-xs-2">
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		{{ $values.Content }}
	</div>
	<div class="col-xs-2">
	</div>
</div>


{{ end }}
{{ template "footer" }}
{{ end }}